/* Original https://github.com/nclarius/dotfiles/blob/main/firefox/userChrome.css */

:root { --arrowpanel-border-radius: 4px !important; }
/* tabs centered in tab bar */
#firefox-view-button,
#alltabs-button {
    display: none !important;
}
scrollbox:not(#PlacesToolbarItems) {
    -moz-box-pack: left !important;
}

/* tab labels centered in tab */
.tab-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-right: 6px !important;
    text-overflow: hidden;
}
.tab-label-container {
    margin: auto !important;
    max-width: 160px;
    text-overflow: ellipsis;
}
.tabbrowser-tab:not([labelendaligned], :hover) > .tab-stack > .tab-content > .tab-close-button {
    padding-inline-start: 7px !important;
    width: 24px !important;
}
.tab-close-button:hover {
    border: 1px solid borderText !important;
}

/* tab shape rectangular */
#TabsToolbar {
    margin-top: 2px!important
}
.tabbrowser-tab {
    margin: 0px !important;
    margin-inline: 0px !important;
    padding-inline: 0px !important;
}
.tab-background {
    margin: 0px !important;
    border-radius: 0 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.tab-context-line {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.tab-background {
    background-image: none !important;
    box-shadow: none !important;
}
.tab-background[selected] {
    background-color: #3B3B3B !important;
	border-top: 3px solid AccentColor !important;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.tabbrowser-tab:not([selected]) .tab-content{
    color: var(--inactivefg) !important;
}
